/* Page-Wide */
body {
  background-color: rgb(171,38,70);
  color: white;
  padding:5px
  font-family: 'Merriweather', serif;
  }

  /* Paragraph Content */
  .text{
    background-color: #FFFFFF;
    color: rgb(171,38,70);
    padding: 5px;

    line-height: 2ems;
  }
p::first-letter{
  font-family: 'Meddon', cursive;
  font-size: 2em;
  font-weight: 700;
  color:rgb(48,101,61)
}
/* "Read More!" Link */
a{
  background-color: rgb(37,92,61)
  color: #FFFFFF;
  padding: 5px;

}
a:hover {
font-style: italic;
}
a:visited {
color: #999999;
}
