h1{
  color: rgb(189,110,38);
}

.square{
  width: 50%;
  height: 200px;
}

#pink{
  background-color: #a83187;
}

#yellow{
  background-color: #d6ae46;
}

#purple {
  background-color: #6c4963;
}

#blue{
  background-color: #48728c;

}
